.region-primary-menu{
    background-color: #313A46;
    min-height: 100vh;
    width: 200px;
    position: fixed;

    #block-sitebranding{
        margin-top: 40px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-wrap: wrap;
        min-height: 100vh;

        ul{
            padding: 0;
            margin: -130px 0 0 0;
            width: 200px;
        }
    
        ul li:last-child{
    
            background-color: #4e5bf2;
    
            a{
                color: #ffffff !important;
            }
    
            a:hover{
                opacity: 0.8;
            }
            
        }
    
        li{
            margin: 15px 0;
            width: 100%;
            padding: 20px 0px;
            color: #818EA0;
        }
    
        ul.menu a.is-active{
            color: #ffffff !important;
        }
    
        a{
            margin-left: 20px;
            color: #818EA0 !important;
            text-decoration: none;
        }
    
        a:hover{
            color: #ffffff !important;
        }
    }
}