table{
    background-color: white;
    width: 100%;
    font-size: smaller;
    text-align: left;
    
    tr{
        border-bottom: 0.5px solid #F8F7FF;
    }

    th{
        background-color: #6D7AE0;
        color: white;
        padding: 10px;

        a{
            color: white;
        }
    }

    td{
        padding: 10px;
    }
}