body {
  background-color: #F2F4F7;
}

main {
  width: calc(100% - 200px);
  margin-left: 200px;
}

main section {
  margin: 10px;
}

.views-element-container {
  background-color: #ffffff;
  padding: 70px 25px;
  margin-top: 10px;
}

.views-element-container .view-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #fa5c7c;
  border-color: #fa5c7c;
  box-shadow: 0 2px 6px 0 rgba(250, 92, 124, 0.5);
  padding: 10px;
  position: absolute;
  right: 0;
  top: -50px;
}
