.region-primary-menu {
  background-color: #313A46;
  height: 100vh;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.region-primary-menu ul {
  padding: 0;
  margin: 0;
  width: 200px;
}

.region-primary-menu li {
  margin: 15px 0;
  width: 100%;
  padding: 20px 0px 20px 20px;
  color: #818EA0;
}

.region-primary-menu li:hover {
  color: #ffffff;
}

.region-primary-menu ul.menu a.is-active {
  color: #ffffff !important;
}

.region-primary-menu a {
  color: #818EA0 !important;
  text-decoration: none;
}
